:root {
  --sub-heading-text: rgb(227, 224, 224);
  --sub-heading-shadow: -9px 12px 3px rgb(244, 7, 7); 
  --title-color: rgb(250, 250, 250);
  --title-shadow: -5px 7px 15px rgb(227, 224, 224);
  --capsule-border-color: rgb(17, 6, 6);
  --background-color1: rgb(70, 64, 63);
  --canvas-background-color2: rgb(80, 80, 82);
  --font-style: 'Courier New', Courier, monospace;
}
body {
    background-color: var(--background-color1);
}
canvas {
    background-color: var(--canvas-background-color2);
    border: 10px solid var(--capsule-border-color);
    border-radius: 50px;
    transform: rotate(90deg);
    margin-bottom: -200px;
}
.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 350px;
    margin-left: -200px;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 150px;
    font-family: var(--font-style);
    font-size: 50px;
    color: var(--title-color);
    text-decoration: underline rgb(239, 232, 232);
    text-shadow: var(--title-shadow);

}
.sub-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    font-family: var(--font-style);
    font-size: 40px;
    color: var(--sub-heading-text);
    text-shadow: var(--sub-heading-shadow);

}
.image-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('Media/background.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    z-index: 0;
    
}
p {
    color: white;
    font-family: var(--font-style);
    font-weight: bold;
}
.description {
    margin-left: 150px;
    margin-top: 70px;
    font-family: var(--font-style);
    font-size: 18px;
    color: rgb(203, 12, 12);
    letter-spacing: 1px;
    
}
canvas,
.title,
.sub-heading,
.description {
    position: relative;
    z-index: 1;
}
#time {
    position: absolute;
    top: 60px;
    right: 70px;
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    text-decoration: 8px underline rgb(34, 25, 25);
    text-shadow: -5px 7px 15px rgb(97, 20, 20);
    color: white ;
    border-radius: 8px;
    border: 5px solid black;
    background-color: rgba(128, 128, 128, 0.431);
    width: 300px;
    height: 70px;
    padding-top: 40px;
    padding-bottom: 0px;
}
/* @media's for mobile viewing */
@media (max-width: 768px) {
  .title {
    margin-left: 20vw;
    font-size: 8vw;
    padding-bottom: 5vh;
  }
  .sub-heading {
    margin-top: 2vh;
    font-size: 5vw;
  }
  .container {
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
  }
  canvas {
    transform: rotate(90deg); 
    width: 90vw;
    height: auto;
    margin-top: 180px;
    
  }
  .description {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 40px;
    padding-top: -90px;
    font-size: 4vw;
  }
}
